#include "thumbRotary.dtsi"

&kscan0 {
    col-gpios
        = <&gpio1 11 GPIO_ACTIVE_HIGH>	//Col0
        , <&gpio1 13 GPIO_ACTIVE_HIGH>  //Col1
        ;
};

&left_encoder {
    status = "okay";
};
